{% load static %}
{% load humanize %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} title in base not overrided {% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>
    <body>

        <div id="header">
            <a href="/" class="logo">به وبسایت فروشگاه  خوش آمدید</a>
        </div>
        <div id="subheader">
            <div class="cart">
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                        موجودی سبد خرید شما:   
                        <a href="{% url "cart:cart_detail" %}">
                            {{ total_items }} کالا به {{ total_items|pluralize:" مجموع " }} ارزش 
                            {{ cart.get_total_price | intcomma }} تومان
                        </a>
                    {% else %}
                        سبد خرید شما خالیه.
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
